html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


.container{
    max-width: 120rem;
    margin: 0 auto; 
}

.site-header{
    padding: 0.2rem 0 0rem;
}

.header-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2;
}

.navigation a{
    color: grey;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navigation a:last-of-type{
    margin: 0;
}

.search-bar input[type="text"]{
    width: 45rem;
    height: 3rem;
    padding-left: 1.2rem;
}


.logo{
 
}

.review-section{
  color: #A4A4A4;
  width:  70%;
}

.left-align{
  display: block;
  float: left;
}
.right-align{
  display: block;
  float: right;
}

.sidebar{
  display: inline;
  width:  30%;
  height: 800px;
  float: right;
  background-color: yellow;
}

.video-section{
  padding-top: 30px;
  display: block;
  width:  70%;
  height: 350px;
  float: left;
  background-color: red;
}

.comment-section{
  display: block;
  width:  70%;
  height: 150px;
  float: left;
  background-color: green;
}

